openapi: 3.2.0
info:
  title: Apono API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 7 operation(s) read from 40 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Apono has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 1
    documentation: 6
    pages-with-code: 1
    pages-read: 40
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.apono.io/api-reference/new-endpoints.md
  - https://docs.apono.io/api-reference/administrator/audit.md
  - https://docs.apono.io/api-reference/api-overview/readme.md
  - https://docs.apono.io/api-reference/administrator/spaces.md
  - https://docs.apono.io/api-reference/end-user/access-requests.md
  - https://docs.apono.io/api-reference/end-user/access-sessions.md
  - https://docs.apono.io/api-reference/administrator/connectivity.md
  - https://docs.apono.io/api-reference/administrator/spaces/spaces.md
  - https://docs.apono.io/api-reference/administrator/audit/activity.md
  - https://docs.apono.io/api-reference/administrator/access-management.md
  - https://docs.apono.io/api-reference/api-overview/api-authentication.md
  - https://docs.apono.io/api-reference/administrator/spaces/space-scopes.md
  - https://docs.apono.io/api-reference/administrator/identities-management.md
  - https://docs.apono.io/api-reference/administrator/audit/activity-reports.md
  - https://docs.apono.io/api-reference/discovering-identity-attribute-types.md
  - https://docs.apono.io/api-reference/administrator/connectivity/connectors.md
  - https://docs.apono.io/docs/webhook-integrations/webhook-payload-references.md
  - https://docs.apono.io/api-reference/administrator/access-management/bundles.md
  - https://docs.apono.io/api-reference/administrator/connectivity/integrations.md
  - https://docs.apono.io/api-reference/end-user/access-requests/access-requests.md
  - https://docs.apono.io/api-reference/end-user/access-sessions/access-sessions.md
  - https://docs.apono.io/api-reference/administrator/identities-management/users.md
  - https://docs.apono.io/api-reference/end-user/access-sessions/available-access.md
  - https://docs.apono.io/api-reference/administrator/identities-management/groups.md
  - https://docs.apono.io/api-reference/administrator/access-management/access-flows.md
  - https://docs.apono.io/api-reference/administrator/access-management/access-scopes.md
  - https://docs.apono.io/api-reference/administrator/identities-management/attributes.md
  - https://docs.apono.io/api-reference/administrator/identities-management/identities.md
  - https://docs.apono.io/docs/audits-and-reports/session-audit/session-audit-reference.md
  - https://docs.apono.io/api-reference/end-user/access-requests/delegated-access-requests.md
  - https://docs.apono.io/docs/agent-privilege-guard/apono-agent-privilege-guard-reference.md
  - https://docs.apono.io/docs/access-requests-and-approvals/slack/slack-commands-reference.md
  - https://docs.apono.io/docs/user-administration/role-based-access-control-rbac-reference.md
  - https://docs.apono.io/docs/agent-privilege-guard/apono-agent-privilege-guard-reference/ai-agents.md
  - https://docs.apono.io/docs/agent-privilege-guard/apono-agent-privilege-guard-reference/ai-sessions.md
  - https://docs.apono.io/docs/webhook-integrations/webhook-payload-references/webhook-payload-schema-reference.md
  - https://docs.apono.io/docs/audits-and-reports/session-audit/session-audit-reference/ssh-session-audit-data-reference.md
  - https://docs.apono.io/docs/webhook-integrations/webhook-payload-references/audit-log-webhook-payload-schema-reference.md
  - https://docs.apono.io/docs/agent-privilege-guard/apono-agent-privilege-guard-reference/model-context-protocol-mcp-servers.md
  - https://docs.apono.io/docs/audits-and-reports/session-audit/session-audit-reference/kubernetes-session-audit-data-reference.md
servers:
- url: https://api.apono.io
tags:
- name: Apono API
paths:
  /api:
    get:
      operationId: get_api
      tags:
      - Apono API
      summary: GET /api
      x-source: https://docs.apono.io/api-reference/api-overview/readme.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: httpie
        snippet: 'http

          https://api.apono.io/api/'
